.intro {
  text-align:center;
}

.intro h1 {
  font-size: 55px;
  margin: 50px 0px 0px 0px;
}

.intro h3 {
  color: #808080;
  margin: 5px 0px;
}

.intro a {
  color: #808080;
  text-decoration: inherit; /* no underline */
}

.intro .button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.big_go_button {
  background-color: #00A6FF; /* Blue */
  font-size: 24px;
  margin: 30px 0px 10px 0px;
}

.big_restart_button {
  font-size: 16px;
  background-color: #3d4872; /* Blue */
  margin: 10px 0px 0px 0px;
}
.big_about_button {
  font-size: 16px;
  background-color: #3d4872; /* Blue */
  margin: 10px 0px 20px 0px;
}

.open_create_custom_function_button {
  background-color: #00A6FF; /* Blue */
  font-size: 24px;
  margin: 20px 0px 20px 0px;
}

.drag_and_drop_button {
  font-size: 16px;
  background-color: #3d4872; /* Blue */
  margin: 5px 0px 5px 0px;
}

.big_modal_select_page_button {
  font-size: 36px;
  height: 150px;
  max-width: 450px;
  background-color: #3d4872; /* Blue */
  margin: 5px 0px 5px 0px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.button_modal_form {
  font-size: 24px;
  height: 70px;
  width: 230px;
  min-width: 230px;
  max-width: 230px;
  background-color: #3d4872; /* Blue */
  margin-right: 10px;
  margin-left: 10px;
}

.form_body_button_holder {
  text-align: center; !important
}

.form_body_back_button {
  display: inline-block; !important

}

.form_body_submit_button {
  display: inline-block; !important

}

.page_layout {
  width: auto;
  height: 100%;
  text-align:center;
}

.right_sidebar a {
  font-size: 20px;
  color: #808080;
  text-decoration: inherit; /* no underline */
}

.page_layout .button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border: none;
  border-radius: 10px;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  width: 80%;
}

.page_layout .left_sidebar {
  float:left;
  max-width: 300px;
}

.page_layout .left_sidebar_container {
  background-color: #263445;
  margin: 0px;
}

.page_layout .left_sidebar_header {
  color: white;
  background-color: #3d4872;
}

.page_layout .left_sidebar_main {
  margin: 10px 0px 20px 0px;
  background-color: #808080;
}

.page_layout .left_sidebar_button_holder {
  overflow-y: scroll;
  height: 350px;
}

.page_layout .left_sidebar_footer {
  background-color: #3d4872;
}

.page_layout .right_sidebar {
  float:right;
}

#right_sidebar_drop_area {
  width: 350px;
  height: 600px;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #aaaaaa;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal_page h2 {
  font-size: 38px;
  position: relative;
  left: 16px;
}

.close {
  position: relative;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}


/* Modal Content */
.modal_content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.label_class {
  font-size: 32px;
}

.form_body {

}

.form_label {
  float: left;
  width: 35%;
  text-align: right;
}

.form_text {
  text-align: left;
}

form input {
  margin-left: 10%;
  height: 32px;
  font-size: 18px;
}
